
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  border: 5px solid #331832;
  height: 100%;
  background-color: #EC0B43;
  color: black;

}

input {
  
  padding: 1em 0;
}

.console {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.color-box {
  height: 5em;
  width: 5em;
  border: 5px solid black;
  margin-right: 2em;

}

.sliders {
  display: flex;
  flex-direction: column;
}