* {
  padding: 0; 
  margin: 0;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  border: 5px solid #3C3C3B;
  height: 100%;
  width: 15em;


}

h1 {
  background-color: #3C3C3B;
  color: white;
}

input {
  
  padding: 1em 0;
}

.console {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.color-box {
  height: 5em;
  width: 5em;
  border: 5px solid black;
  margin-right: 2em;
  background-image: url('http://cliparts.co/cliparts/yik/RpX/yikRpXaiE.png')

}

.sliders {
  display: flex;
  flex-direction: column;
}

.rsla {
  padding-top: 3em;
}